body {
    background-color: rgb(51, 92, 44);
    color: #696868;
    margin: 3em;
    font-size: 1em;
}

h2 {
    color: black;
    margin-top: 0;
}

.profile {
    display: grid;
    grid-template-columns: 20% 80% ;
    border: 2px solid blueviolet;
}
@media screen and (max-width: 431px){
    body {
        margin: 1em 2em;
        font-size: .8em;
    }
    .profile {
        grid-template-columns: 40% 60%;
    }
    
}

.profile-p {
    radius: 5em;
    border: 2px solid rgb(60, 49, 69);
}

.bio {
    background-color: rgb(239, 237, 237);
    margin-left: 2em;
    border-radius: 2em;
    padding: 2.5em;
    border: 2px solid rgb(19, 223, 60);
}

img {
    width: 100%;
    border-radius: 1em;
}

.prof-skill {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 20em;
    margin-top: 2em;
    margin-bottom: 2em;
    border: 2px solid blueviolet;
}


.proficiancy {
    background-color: rgb(239, 237, 237);
    border-radius: 2em;
    padding: 2.5em 1.5em;
    border: 2px solid rgb(19, 223, 60);
}

.skills {
    background-color: rgb(239, 237, 237);
    border-radius: 2em;
    padding: 2.5em 1.5em;
    margin-left: 2em;
    border: 2px solid rgb(19, 223, 60);
}

@media screen and (max-width: 431px){
    .prof-skill{
        display: flex;
        flex-direction: column;
    }
    .skills {
        margin-left: 0;
        margin-top: 1em;
    }
}