body {
    background-image: url(images/bg\ image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1515.03px;
    height: 4036.84px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #696868;
    
}

.container {
    width: 1321.79px;
    margin-left: 59px;
    margin-top: 63px;
}

h2 {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 33.88px;
    margin: 0;
}

/* PROFILE SECTION  START*/
.profile {
    width: 1321.79px;
    height: 300.1px;
    display: grid;
    grid-template-columns: 300.1px 994.69px ;
    gap: 27px;
    border-radius: 29.04px;
}
@media screen and (max-width: 431px){
    body {
        margin: 1em 2em;
        font-size: .8em;
    }
    .profile {
        grid-template-columns: 300.1px 994.69px;
    }
    
}

.profile-p {
    width: 300.1px;
    height: 300.1px;
    border-radius: 29.04px;
}

.bio {
    background-color: #FFFFFF;
    max-width: 994.69px;
    border-radius: 29.04px;
    padding: 59px 69px;
}

.name {
    font-weight: 600;
    font-size: 36px;
}


/* PROFILE SECTION  ENDS*/

.prof-skill {
    width: 1321.79px;
    height: 428.37px;
    display: flex;
    gap: 52.79px;
    margin-top: 48.33px;
}


.proficiancy {
    background-color: #FFFFFF;
    width: 563.9px;
    border-radius: 29.04px;
    padding: 41px 28px;
    margin-right: 30px;
}

.skills {
    background-color: #FFFFFF;
    width: 706px;
    border-radius: 29.04px;
    padding: 28px;
}

@media screen and (max-width: 431px){
    .prof-skill{
        display: flex;
        flex-direction: column;
    }
    .skills {
        margin-left: 0;
        margin-top: 1em;
    }
}

.project-section {
    max-width: 1318.08px;
    height: 755.09px;
    background-color: #FFFFFF;
    margin-top: 48.33px;
    border-radius: 29.04px;
    text-align: center;
    padding: 43px 29px;
}

.project-name {
    margin-bottom: 
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 280px 272px);
    justify-content: space-between;
    margin-top: 60px;
    
}
.project-1 {
    background-color: #4A8B70;
    height: 581px;
    border-radius: 29.04px;
    padding: 22px 19px;
}
.project-2, .project-3, .project-4 {
    background-color: #E7F0EC;
    height: 581px;
    border-radius: 29.04px;
    padding: 22px 19px;
}

/* EDUCATION AND TOOLS SECTION START */
.edu-tool {   
    display: flex;
    justify-content: space-between;
    gap: 27px;
    margin-top: 60px;

}

.education {
    display: flex;
    flex-direction: column;
    width: 994.69px;
    height: 847.06px;
    border-radius: 29.04px;
    background-color: #FFFFFF;
    padding: 29.04px;
}

.codespace {
    background-color: #4A8B70;
    width: 936.61px;
    height: 242.02px;
    pading: 27px 21px;
    margin-top: 29px;
    border-radius: 29.04px;
}

.gwf {
    background-color: #E7F0EC;
    width: 936.61px;
    height: 242.02px;
    pading: 27px 21px;
    margin-top: 29px;
    border-radius: 29.04px;
}

.high_school {
    background-color: #E7F0EC;
    width: 936.61px;
    height: 242.02px;
    pading: 27px 21px;
    margin-top: 29px;
    border-radius: 29.04px;
}

.education-bg {
    width: 936.6px;

}

.techs{
    display: flex;
    flex-direction: column;
    width: 300.1px;
    height: 847.06px;
    border-radius: 29.04px;
    background-color: #FFFFFF;
    padding: 29.04px;
    text-align: center;
}

.lagueges {
    background-color: #E7F0EC;
    width: 183.9px;
    height: 273.9px;
    border-radius: 14.52px;
    margin: 29.04px auto;
    padding: 38.72px 9.68px;
}

.design {
    background-color: #E7F0EC;
    width: 183.9px;
    height: 152px;
    border-radius: 14.52px;
    padding: 38.72px 9.68px;
    margin: 0 auto 29.04px auto;
}

.tools {
    background-color: #E7F0EC;
    width: 183.9px;
    height: 198.45px;
    border-radius: 14.52px;
    padding: 38.72px 9.68px;
    margin: 0 auto;
}
/* EDUCATION AND TOOLS SECTION ENDS */

.experiance {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 1316PX;
    height: 640PX;
    border-radius: 14.52px;
    margin-top: 60px;
    padding: 31px 27px 32px 27px;
    
}

.work-1, .work-2, .work-3 {
    background-color: #E7F0EC;
    width: 1260px;
    height: 145px;
    border-radius: 14.52px;
    padding: 19px 25px;

}

.work-1 {
    background-color: #4A8B70;
}

.footer_container {
    background-color: #D76239;
    width: 1322px;
    height: 158px;
    border-radius: 29.04px;
    padding: 29.04px;
    margin-top: 60px;
}

.footer_container h2 {
    color: #FFFFFF;
}

.contacts {
    color: #DDDDDD;
    font-size: 24.2px;
}
a {
    text-decoration: none;
    color: #DDDDDD;
}